	*{
		box-sizing: border-box;
	}
	body{
		margin: 0px;
		font-size: 1rem;
		background-color: hsl(204, 43%, 93%);
		font-family: Karla;
		margin-top: 50px;
	}
	/****************Layout structure***********/
	.container{
		display: grid;
		grid-template-columns: auto auto;
		justify-content: center;
		width: 60%;
		margin: auto;
		box-shadow: 0px 0px 6px 4px #DCDCDC;
		border-radius: 10px 10px 10px 10px;
	}
	.item1{
		grid-column: 1 / 3;
		padding: 20px;
		background-color: white;
		border-radius: 10px 10px 0px 0px;
		}
	.item2{
		background-color: hsl(179, 62%, 43%);
		padding: 10px;
		border-radius: 0px 0px 0px 10px;
		
	}
	.item3{
		background-color: hsl(179.5,47.2%,51.8%);
		padding: 10px;
		border-radius: 0px 0px 10px 0px;
		/**************END OF LAYOUT STRUCTURE ************/
	
	}
	/**********Classes for style and text formating *******/
	.h2{
		color: white;
	}
	
	.why{
		margin-left: 40px;
		color: white;
	}
	.per-month{
		font-size: 1.2rem;
		font-weight: 400, 700;
	}
	.second-p{
		font-size: 1.2rem;
		color: white;
	}
	/***********END OF CLASSES FOR STYLE AND TEXT FORMATING****/

	/***********Headings and Paragraph style*********/
	h1{
		color: hsl(179, 62%, 43%);

	}
	h2{
		color: hsl(71, 73%, 54%);
	}
	h3{
		color: hsl(204, 43%, 93%);
	}
	h4{
		color: hsl(204, 43%, 93%);

	}
	p{
		color: hsl(218, 22%, 67%);
		width: 90%;
		font-size: 1.2rem;
		line-height: 30px;
	}
	/***********END OF HEADINDS AND PARAGRAPH STYLE ************/
	/***************Section style************/
	section{
		margin-left: 20px;
	}
	/***************END OF SECTION STYLE*********/
	ul{
		list-style: none;
		opacity: 0.8;
		padding: 10px;
		margin-left: 8%;

	}
	li{
		line-height: 30px;
		font-size: 1.2rem;
		color: white;
	}
	a{
		display: grid;
		justify-content: center;
		margin: auto;
		text-decoration: none;
		background-color: hsl(71, 73%, 54%);
		width: 75%;
		border-radius: 5px;
		box-shadow: 0px 0px 6px 2px #808080;
		cursor: pointer;
		font-size: 1.2rem;
		color: white;
		padding: 10px;
		font-weight:  400, 700;	

	}
	span{
		font-size: 2rem;
		color: white;
	}
	/************MEDIA QUERY RULES*****************/
	@media only screen and (max-width: 600px){
		body{
			padding: 20px;
		}
		.container{
			width: 100%;
			max-width: 100%;
		}
		.item2{
			grid-column: 1 / 3;
			border-radius: 0px 0px 0px 0px;
		}
		.item3{
			grid-column: 1 / 3;
			border-radius: 0px 0px 10px 10px;
		}
		h3{
			font-size: 1rem;
		}
	}